# Build Artifacts
**/CMakeFiles/
**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile
excecutable_output
*.o
*.so
*.a

# Simulation Outputs
output/
force_displacement.txt

# Python cache
__pycache__/
*.pyc

# IDE/System
.vscode/
.idea/
.DS_Store
*.swp
